<table>
    <tbody>
        <tr>
            <th>{% trans %}user.entity.email{% endtrans %}</th>
            <td>
                {% if user.email %}
                    <a href="mailto:{{ user.email }}">{{ user.email }}</a>
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>
