{{ form_start(form, {'attr': {'class': 'js-ajax'}}) }}
{{ form_widget(form) }}
<button type="submit">{% trans %}security.reset_password.submit{% endtrans %}</button>

{% include '@DarvinUser/security/_menu.html.twig' %}

{{ form_end(form) }}
