{% extends 'layout.html.twig' %}

{% block title %}{% trans %}profile.show.title{% endtrans %}{% endblock %}

{% block heading %}{% trans %}profile.show.title{% endtrans %}{% endblock %}

{% block content %}
    <table>
        <tr>
            <th>{% trans %}user.entity.username{% endtrans %}</th>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <th>{% trans %}user.entity.email{% endtrans %}</th>
            <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
        </tr>
    </table>
{% endblock %}
