{% extends ':email:service.html.twig' %}

{% block body %}
    <a href="{{ admin_url(user) }}"><h3>{% trans %}user.email.new.user{% endtrans %}</h3></a>

    {% include 'DarvinUserBundle:User/widget:table.html.twig' %}

{% endblock %}
