{{ form_start(form, { 'attr': { 'class': 'ajax' } }) }}
{{ form_widget(form) }}
<button type="submit">{% trans %}password_reset_token.action.request.submit{% endtrans %}</button>
{{ form_end(form) }}
