{% extends '@DarvinMailer/email/layout.html.twig' %}

{% block content %}
    <div class="details-list" style="margin: 15px 0;">
        <div class="details-list__section" style="padding: 12px 0; border-bottom: none;">
            <div class="details-list__title"
                 style="font-family: Arial, sans-serif; font-size: 15px; line-height: 23px; font-weight: bold; color: #333333;">
                {% trans %}email.registered.user{% endtrans %}
            </div>

            {% include '@DarvinUser/email/_user.html.twig' %}

        </div>
    </div>
{% endblock %}
